*{
    box-sizing: border-box;
}
body{
    font-family: 'Poppins';
    margin: 10px 50px;
    overflow-x: hidden;

}
#btn{
    background-color: black;
    color: #fff;
    padding: 15px;
    align-items: center;
}
li{
    text-decoration: none;
    list-style: none;
}

img{
    width: 100px;
    height: 100px;
}