*{
    box-sizing: border-box;
}
body{
    font-family: 'Poppins',Poppins, sans-serif;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin: 10px auto;
    overflow: auto;
}
#search{
    width: auto;
    background-color: transparent;
    border-radius: 5px;
    font-size: 1.5em;
    padding: 5px;
    margin: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins',Poppins,sans-serif;
}
#btn, #filter{
    background-color: black;
    color: #fff;
    padding: 15px 100px;
    align-items: center;
}
#btn:hover{
    opacity: 0.9;
}
#btn:active{
    transform: scale(0.98);
}
.countries{
    display: flex;
    justify-content: center;
    align-items: center;
}
.names li:hover{
    font-weight: bold;
}
.names-list{
    display: flex;
    flex-direction: column;
    margin: 50px auto;
}
li{
    text-decoration: none;
    list-style: none;
}
img{
    margin: 30px auto;
    width: 100px;
    height: 100px;
}
.flags{
    border-radius: 50%;

}
.flags:hover{
    transform: scale(0.95);
    opacity: 80%;
}